/* .row{
    width: 20%;
}
.section {
    display: flex;
    flex-direction: row;
    
  } */
  .navbar-brand{
    color: rgb(106, 151, 44);
    font-weight: bold;
    font-size: 25px;
    font-family:"Serif";
}
.navbar-brand:hover{
    color: rgb(49, 122, 200);
}
.nav-link{
   color: rgb(150, 148, 108);
}
.nav-link:hover {
    color: rgb(49, 61, 200);
  }
.userdash{
    background-image: linear-gradient(antiquewhite, white);
  }


.price{
    color: #ef4281;
}
.card-title{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family:"Helvetica";
}
#plist{
  padding-bottom:20px;
  padding-top: 20px;
}
.card-text{
  color: rgb(19, 18, 18);
  font-weight: normal;
  font-size: 12px;
  font-family:"Helvetica";
  width: 14rem; 
  height: 2rem;
}
.main{
  padding-top: 5rem;
}